.outlined-user-icon {
    stroke: #333;
    stroke-width: 2px;
    fill: none;
  }
  
.sidebar {
    width: 230px;
  
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    margin-top: 130px;
    margin-left: 50px;
    margin-bottom: 40px;
    border: 1px solid rgb(97, 96, 96);
    border-radius: 10px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.5);
    padding: 14px;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul li {
    margin: 10px 0;
  }
  
  .sidebar ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .sidebar ul li a:hover {
    background-color: #4f4d4d;
    color: white;
  }
  